$primary-color: #f44141;
$quinary-color: #f6b6b6;

.flat-button2 {
  position: absolute;
  left: 22%;
  top: 72%;
  opacity: 0;
  animation: fadeIn 1.5s 2s forwards;
  color: #e6e6e6;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 3px;
  text-decoration: none;
  padding: 8px 10px;
  background: $primary-color;
  border: none;
  margin-top: 25px;
  float: left;
  border-radius: 5px;
  white-space: nowrap;
  cursor: pointer;
  transition: 0.5s;
  &:hover {
    color: $primary-color;
    transform: translateY(-3px);
    border: none;
    background: #e6e6e6;
    transition: 0.5s;
  }
}

.stage-cube-cont {
  width: 50%;
  height: 100%;
  top: 0;
  margin-left: 0;
  position: absolute;
  right: 0;
  opacity: 0;
  animation: fadeIn 1s forwards;
  animation-delay: 2.5s;
  overflow: scroll;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 12px;
    border-radius: 3px;
  }
  &::-webkit-scrollbar-track {
    background: #654a4a;
    border-radius: 3px;
  }
  &::-webkit-scrollbar-thumb {
    background: #f6b6b6;
    border-radius: 3px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #f6b6b6;
  }
}

.vertical-timeline.vertical-timeline--two-columns {
  width: 90%;
  padding: 15px 0px 10px 0px;
}
div.vertical-timeline-element--work.vertical-timeline-element,
div.vertical-timeline-element--education.vertical-timeline-element {
  margin: 0px 0px 25px 0px;
}
div.vertical-timeline-element--education.vertical-timeline-element:last-child {
  margin: 5px;
}
div.vertical-timeline-element-content.bounce-in {
  padding: 7px 10px;
  border-radius: 10px;
}
.vertical-timeline-element-title {
  font-weight: bold;
}
.vertical-timeline-element-subtitle {
  font-weight: 400;
  text-align: justify;
}
span.vertical-timeline-element-date {
  color: $quinary-color;
  margin: 0px 20px;
}
#degree {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: $primary-color;
}
