$primary-color: #f44141;
$quinary-color: #f6b6b6;

.home-page {
  .text-zone {
    position: absolute;
    left: 10%;
    top: 40%;
    transform: translateY(-40%);
    width: 50%;
    max-height: 90%;
    img {
      margin-left: 0px;
      margin-top: 10px;
      opacity: 0;
      width: 350px;
      height: auto;
      animation: fadeIn 1s 1.7s forwards;
    }
  }

  h1 {
    color: #fff;
    font-size: 56px;
    line-height: 53px;
    margin: 0;
    font-family: 'kanitregular';
    letter-spacing: 1px;
    font-weight: 600;
  }

  h2 {
    color: $quinary-color;
    margin-top: 15px;
    font-weight: 500;
    font-size: 12px;
    font-family: sans-serif;
    letter-spacing: 1.5px;
    opacity: 0;
    animation: fadeIn 1s 4.1s forwards;
  }

  .flat-button {
    opacity: 0;
    animation: fadeIn 1.5s 4.3s forwards;
    color: #e6e6e6;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 3px;
    text-decoration: none;
    padding: 8px 10px;
    background: $primary-color;
    border: none;
    margin-top: 25px;
    float: left;
    border-radius: 5px;
    white-space: nowrap;
    cursor: pointer;
    transition: 0.5s;
    &:hover {
      color: $primary-color;
      transform: translateY(-3px);
      border: none;
      background: #e6e6e6;
      transition: 0.5s;
    }
  }
  .container-links {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .tags,
  .home-page h1:before,
  .home-page h1:after {
    display: none;
  }

  .home-page .text-zone {
    position: initial;
    width: 100%;
    transform: none;
    padding: 10px 20px;
    box-sizing: border-box;
  }

  .home-page .flat-button {
    float: none;
    display: block;
    margin: 20px auto 0 auto;
    width: 124px;
  }

  .logo-container {
    position: relative;
    width: 100px;
    height: auto;
    top: 50px;
    right: 0;
    box-sizing: border-box;
    margin: auto;
    left: 0;
  }

  .logo-container svg {
    position: absolute;
    top: auto;
    right: auto;
    bottom: auto;
    left: 0;
    margin: auto;
  }
  .home-page .container-links {
    display: flex;
    opacity: 0;
    animation: fadeIn 1.5s 4.3s forwards;
    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 100%;
      padding: 0;
      list-style: none;
      text-align: center;
      margin-top: 20px;

      li {
        a {
          padding: 7px 0;
          display: block;
          font-size: 28px;
          line-height: 16px;
          color: #4d4d4e;
        }

        &:hover {
          .anchor-icon {
            color: $primary-color;
          }
        }
      }
    }
  }
}
