$primary-color: #f44141;
$secondary-color: #632f2f;
$tertiary-color: #e6e6e6;
$quaternary-color: #321515;

.text-zone p {
  font-size: 25px;
}
.contact-form {
  width: 100%;
  margin-top: 20px;

  ul {
    padding: 0;
    margin: 0;

    li {
      padding: 0;
      margin: 0;
      list-style: none;
      margin-bottom: 10px;
      opacity: 0;
      overflow: hidden;
      display: block;
      clear: both;
      position: relative;
      animation: fadeInUp 2s 2s;
      animation-fill-mode: forwards;
    }

    // li.half {
    //   width: 49%;
    //   margin-left: 2%;
    //   float: left;
    //   clear: none;

    //   &:first-child {
    //     margin-left: 0;
    //   }
    // }
  }

  input[type='text'],
  input[type='email'] {
    width: 100%;
    border: 0;
    border-radius: 5px;
    background: $tertiary-color;
    height: 40px;
    font-size: 16px;
    color: $quaternary-color;
    padding: 0 20px;
    box-sizing: border-box;
    &:focus {
      outline: none;
    }
  }

  textarea {
    width: 100%;
    border: 0;
    border-radius: 5px;
    background: $tertiary-color;
    height: 40px;
    font-size: 16px;
    color: $quaternary-color;
    padding: 20px;
    box-sizing: border-box;
    min-height: 140px;
    resize: none;
    &:focus {
      outline: none;
    }
  }

  .flat-button {
    color: $tertiary-color;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 3px;
    text-decoration: none;
    padding: 8px 10px;
    float: left;
    border-radius: 5px;
    background: $primary-color;
    border: none;
    float: right;
    text-align: center;
    margin-right: 10px;
    cursor: pointer;
    transition: 0.7s;
    &:hover {
      color: $primary-color;
      border: none;
      background: $tertiary-color;
      transition: 0.7s;
    }
  }
}
