html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font: 300 11px/1.4 'Helvetica Neue', sans-serif;
  color: #632f2f;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #654a4a;
  background: linear-gradient(
    90deg,
    rgba(101, 74, 74, 1) 0%,
    rgba(101, 74, 74, 0.7332090062587535) 100%
  );
  /* background-size: auto;
  background-repeat: repeat; */
  overflow: hidden;
  display: block;
}

.dashboard {
  margin-top: 200px;
  margin-left: 200px;
}

@media screen and (max-width: 1080px) {
  body {
    overflow: visible;
  }
}
